*
!.asoundrc
!.config
!.config/autostart
!.config/autostart/Caps = Escape.desktop
!.config/autostart/compton.desktop
!.config/autostart/i3.desktop
!.config/autostart/Wallpaper.desktop
!.config/catfish
!.config/catfish/catfish.rc
!.config/compton.conf
!.config/i3
!.config/i3/config
!.config/menus
!.config/menus/applications-merged
!.config/menus/applications-merged/user-chrome-apps.menu
!.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
!.config/mimeapps.list
!.config/Mousepad
!.config/Mousepad/accels.scm
!.config/ristretto
!.config/ristretto/accels.scm
!.config/termite
!.config/termite/config
!.config/Thunar
!.config/Thunar/uca.xml
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.config/xfce4
!.config/xfce4/desktop
!.config/xfce4/desktop/icons.screen0-0x0.rc
!.config/xfce4/helpers.rc
!.config/xfce4/panel
!.config/xfce4/panel/eyes-15.rc
!.config/xfce4/panel/i3-workspaces-1.rc
!.config/xfce4/panel/i3-workspaces-8.rc
!.config/xfce4/panel/systemload-21.rc
!.config/xfce4/panel/weather-18.rc
!.config/xfce4/panel/xfce4-sensors-plugin-16.rc
!.config/xfce4/panel/xfce4-timer-14.rc
!.config/xfce4/panel/XfceTimer.rc
!.config/xfce4/terminal
!.config/xfce4/terminal/accels.scm
!.config/xfce4/xfce4-screenshooter
!.config/xfce4/xfce4-taskmanager.rc
!.config/xfce4/xfconf
!.config/xfce4/xfconf/xfce-perchannel-xml
!.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/pointers.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/ristretto.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-editor.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-settings-manager.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
!.config/sublime-text-3/Packages/User
!.dmrc
!.gitignore
!.spacemacs
!.zimrc
!.zshrc
