[G0]
timername=
time=300
timercommand=
timerinfo=5m 0s
is_countdown=true

[G1]
timername=
time=600
timercommand=
timerinfo=10m 0s
is_countdown=true

[G2]
timername=
time=1200
timercommand=
timerinfo=20m 0s
is_countdown=true

[G3]
timername=
time=1500
timercommand=
timerinfo=25m 0s
is_countdown=true

[G4]
timername=
time=1800
timercommand=
timerinfo=30m 0s
is_countdown=true

[G5]
timername=
time=2700
timercommand=
timerinfo=45m 0s
is_countdown=true

[G6]
timername=
time=3600
timercommand=
timerinfo=1h 0m 0s
is_countdown=true

[others]
nowin_if_alarm=false
selecting_starts=false
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

